# Pycharm
.idea/
__pycache__/

# EEG CNN
# Dataset
dataset/colostate/subjects_impaired/
dataset/colostate/subjects_not_impaired/
dataset/y_duoc

# Image export
exports/images/

# Image evaluate
evaluate/test-data/